@import "tailwindcss";

@theme {
  --color-primary: #fd7213;
  --color-primary-bg: #0c0c14;
  --color-button-primary: #1853CE;
  --color-text-default: #f0f0f0;
  --color-secondary: #13131F;
  --font-family-sans: 'Source Sans 3', sans-serif;
}

* {
  font-family: 'Source Sans 3', sans-serif;
}

html {
  scroll-behavior: smooth;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-10px);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}